---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { type CollectionEntry } from "astro:content";
import ArticleCard from "../../components/ArticleCard.astro";
import SearchForm from "../../components/SearchForm.astro";
import Pagination from "../../components/Pagination.astro";

const blogArticles: CollectionEntry<"blog">[] = (await getCollection("blog")).sort((a, b) => {
	return b.data.pubDate.valueOf() - a.data.pubDate.valueOf();
});
---

<MainLayout title="All Blog Articles">
	<div class="flex justify-between items-center">
		<h1 class="text-2xl pb-3">All Articles</h1>
		<SearchForm />
	</div>

	<!-- Main -->
	<main class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
		{blogArticles.map((article) => <ArticleCard article={article} />)}
	</main>

	<!-- Pagination -->
	<Pagination />
</MainLayout>
