---
type Props = {
	currentPage: number;
	totalPages: number;
};

const { currentPage, totalPages } = Astro.props;
---

<div class="flex justify-between mt-10">
	<a
		href={`/articles?page=${currentPage - 1}`}
		class={`inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg ${currentPage <= 1 ? "disabled-link" : ""}`}
	>
		Previous</a
	>
	<a
		href={`/articles?page=${currentPage + 1}`}
		class={`inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg ${
			currentPage === totalPages ? "disabled-link" : ""
		}`}
	>
		Next</a
	>
</div>

<style is:global>
	.disabled-link {
		cursor: not-allowed;
		pointer-events: none;
		color: #aaa;
	}
</style>
