---
import { capitalize } from "../utils";

const { tags } = Astro.props;

interface Props {
	tags: string[];
}
---

<div class="flex flex-wrap gap-2">
	{
		tags.map((tag: string, index: number) => (
			<span class={`px-2 py-1 ${index % 2 === 0 ? "bg-blue-500" : "bg-indigo-500"} text-white rounded-full text-xs hover:opacity-90`}>
				<a href={`/articles/tags/${tag}`}># {capitalize(tag)}</a>
			</span>
		))
	}
</div>
